@use "../../theme/scss/_variables" as *;

#dv_msg_login {
    display: none;
    margin: 0;
    padding: 20px;
    text-align: center;
    // background-color: $light-gray;
    border: solid 1px $light-gray;
    background-color: #FFFFFF;
    color: $text-color;
    border-radius: 2px;
    &.active {
        display: block;
    }
    &.primary {
        border: solid 1px $navy;
        color: $navy;
        // background-color: $navy;
        // color: #FFFFFF;
        // i {
            // color: #FFFFFF;
        // }
    }
    &.danger {
        border: solid 1px $red;
        color: $red;
        // background-color: lighten($red, 30%);
        // color: $text-color;
        // i {
        //     color: $text-color;
        // }
    }
}

#dv_login {
    display: block;
}
#dv_login.hidden {
    display: none;
}